<?php

define("DB_HOST", '');
define("DB_USER", '');
define("DB_PASSWORD", '');
define("DB_DATABASE", '');

define('WEBSITE_URL', 'http://localhost/storageDesu/');
define("UPLOAD_DIR", 'files/');
define("FILTER_FILES", 'ban'); // Either 'all', 'allow' or 'ban'
define("ALLOWED_EXTENSIONS", serialize(array('jpg', 'jpeg', 'png', 'gif', 'pdf', 'svg', 'txt'))); // Extensions allowed if filter is 'allow'
define("BANNED_EXTENSIONS", serialize(array('exe', 'html', 'js', 'php', 'msi', 'xhtml'))); // Extensions banned if filter is 'ban'
define("MAX_UPLOAD_SIZE", 128); // In MB
define("GENERATE_RANDOM_NAME", TRUE); // If you want to generate random names for the files

?>
